<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Error 401 (Unauthorized)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
<div class="container">
  <div class="row" style="margin-top: 25%">
    <div class="two columns">&nbsp;</div>
    <div class="eight columns">
      <h1>Bank of Evil</h1>
      <p>Error 401</p>
      <p>Authorization required.</p>
    </div>
  </div>
</div>
</body>
</html>
